{
    "env": {
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": true
                        }
                    }
                ]
            ],
            "plugins": [
                [
                    "module-resolver",
                    {
                        "root": ["./src"],
                        "alias": {
                            "~components": "components",
                            "~directives": "directives",
                            "~mixins": "mixins",
                            "~stylus": "stylus",
                            "~util": "util"
                        }
                    }
                ]
            ]
        }
    }
}
