/* .theme--light .go-text-view .v-input--is-disabled .v-label {
    color: rgba(0, 0, 0, 0.54);
}

.theme--light .go-text-view .v-input--is-disabled input {
    color: rgba(0, 0, 0, 0.87);
}
.theme--light .go-text-view .v-input--is-disabled .v-icon {
    color: rgba(0, 0, 0, 0.54);
}
.theme--light .go-text-view .v-input--is-disabled .v-select__selection {
    color: rgba(0, 0, 0, 0.87);
}
.theme--light .go-text-view .v-input--is-disabled.v-input--checkbox .v-label {
    color: rgba(0, 0, 0, 0.87);
} */
